# Python
__pycache__/
*.pyc
*.pyo
.venv*/
*.egg-info/

# Secrets
.env
*.key
credentials*

# MT5 compiled
*.ex5

# OS
Thumbs.db
desktop.ini
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
*.txt
!requirements.txt

# Temp
*.tmp
